@tailwind base;
@tailwind components;
@tailwind utilities;


/* default styles */
html,
body {
  color: #222;
  font-family: 'Montserrat', sans-serif;
}
.layout {
  margin: 0 auto;
}
.rotate-y{
  transform: rotateY(190deg);
}


/* top nav styles */
#language:hover #language-item{
  display: flex;
}
#language-item:hover{
  display: flex;
}


/* bottom nav */
#category-items{
  transition: .5s ease-in-out;
  transition-property: display;
}
#categories:hover #category-items{
  top: 39px;
  display: block;
  opacity: 1;
}

/* top tags */
.flex-container {
  display: flex;
  flex-wrap: wrap;
  gap: 3px 20px; /* Space between items */
  max-width: 100%; /* Set maximum width */
}