@tailwind base;
@tailwind components;
@tailwind utilities;


/* default styles */
html,
body {
  color: #222;
  font-family: 'Montserrat', sans-serif;
}
.layout {
  margin: 0 auto;
}
.rotate-y{
  transform: rotateY(190deg);
}


/* top nav styles */
#language:hover #language-item{
  display: flex;
}
#language-item:hover{
  display: flex;
}
